<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honors Thesis</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            border: none;
        }
        .page-contents {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <div class="page-contents">
        <embed src="../Honors_Thesis.pdf" width=60% height=100% type="application/pdf">
    </div>
</body>
</html>

