<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honors Thesis</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .page-contents {
            display: flex;
            justify-content: center; /* Center horizontally */
            height: 100%;
        }
        iframe {
            width: 65%; /* Adjust width as necessary */
            height: 100vh; /* Adjust height as necessary */
            border: none; /* Optional: removes the default iframe border */
        }
    </style>
</head>
<body>
<div class="page-contents">
    <iframe src="../Honors_Thesis.pdf" width="65"></iframe>
</div>
</body>
</html>
