<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESA Participation Model Slides</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .page-contents {
            display: flex;
            justify-content: center;
            height: 100%;
        }
        iframe {
            width: 65%;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
<div class="page-contents">
    <iframe src="../ESA_Participation_Model_Slides.pdf" width="65"></iframe>
</div>
</body>
</html>

